<!DOCTYPE html>
<html lang="en" ng-app="Chato">
  <head>
    <meta charset="utf-8">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chato</title>

    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/favicon.png" />
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />
    
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='node_modules/animate.css/animate.min.css'>
    <link rel='stylesheet' href='node_modules/angular-flash-alert/dist/angular-flash.min.css'>
    <link rel='stylesheet' href='node_modules/angular-loading-bar/build/loading-bar.min.css'>
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="MainCtrl">
    <div class="loading" ng-show="loading"></div>
    <flash-message></flash-message>
    <nav id="myNav" class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Chato</a>
        </div>
    
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-left" ng-if="$storage.user" >
            <li><a ng-href="/app">Room</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-if="$storage.user" >
            <li><a href="/profile/{{$storage.user._id}}">{{$storage.user.email}}</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bell"></i>
                <span class="badge" ng-class="{'badge-danger' : $storage.user.invitations.length}">{{$storage.user.invitations.length}}</span>
              </a>
              <ul id="invitations" class="dropdown-menu" ng-click="$event.stopPropagation()">
                <li class="inv-heading"><i class="fa fa-handshake-o m-r-10 m-t-5"></i>Invitations</li>
                <li ng-if="!$storage.user.invitations.length"><h5 class="text-muted"><i class="fa fa-exclamation-triangle"></i> It looks like you dont have <strong>invitations</strong> yet</h5></li>
                <li ng-repeat="inv in $storage.user.invitations">
                  <div class="m-r-20">
                    <a href="#">
                      <i class="fa fa-user-o fa-2x"></i>
                    </a>
                  </div>
                  <div class="f-g-1">
                    <h4 class="media-heading">{{inv.sender.username}}</h4>
                    <h5>{{inv.sender.email}}</h5>
                  </div>
                  <div class="">
                    <a class="btn btn-primary btn-xs" role="button" ng-click="acceptInvitation(inv._id)">Accept</a>
                    <a class="btn btn-default btn-xs" role="button" ng-click="declineInvitation(inv._id)">Decline</a> 
                  </div>
                </li>
              </ul>
            </li>
            <li><a ng-click="logout()" href>Logout</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-if="!$storage.user">
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container" ng-view> 
      
    </div>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/lodash/lodash.min.js"></script>

    <script src="assets/js/bundle.min.js"></script>
    <script src="assets/js/script.js"></script>
    
  </body>
</html>