/* include Cairo */

@import 'https://fonts.googleapis.com/css?family=Cairo';

body{
  font-family: 'Cairo', sans-serif;
  background-color: #fafafa;
}

/* Angular classes */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* custimize Bootstrab's components */

input.form-control{
  width: auto;
  box-shadow: none;
}
input.form-control:focus{
  border-color: #66afe9;
  box-shadow: none;
}
textarea:focus{
  outline:none;
}
.list-group-item{
  border: 1px dotted #ddd;
}

/* adding new components */

.section{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: white;
  box-shadow: 0px 1px 1px #dedede;
  border-radius: 2px;
  margin-top:30px;
  padding: 20px;
  align-items: center;
  box-sizing: border-box;
}
.section.section-default{
  border-top: 7px solid #868686;
}
.section.section-danger{
  border-top: 7px solid #ff6b6b;
}
.section.section-primary{
  border-top: 7px solid #2593ff;
}
.section.section-sub{
  margin:0;
  margin-top: 7px;
  margin-left: 15px;
  margin-right: 15px;
  z-index: 250;
}
.section > * , .section.section-sub > * {
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
}

.section.section-flex-3 > *{
  width: 32%;
}
.section.section-flex-4 > *{
  width: 25%;
}
.section.section-sub-hide{
  display: none !important;
}
.section.section-dir-col {
  flex-direction: column;
}



/* helper calsses */ 

.f-g-1{
    flex-grow: 1;
}
.f-g-2{
    flex-grow: 2;
}
.f-b-3{
    flex-basis: 33.333333%;
}
.w-3{
    width: 33.333333%;
}
.h-40{
    height: 40px;
}
.h-20{
    height: 20px;
}
.p-r{
    position: relative;
}
.p-a{
    position: absolute;
}
.t-50{
    top:50px;
}
.t-30{
    top:30px;
}
.b-0{
    bottom: 0;
}
.m-t-5{
    margin-top :5px;
}
.m-t-10{
    margin-top :10px;
}
.m-t-15{
    margin-top :15px;
}
.m-t-30{
    margin-top: 30px;
}
.m-a-5{
    margin: 5px;
}
.m-b-10{
    margin-bottom: 10px;
}
.m-b-20{
    margin-bottom: 20px;
}
.m-r-10{
    margin-right: 10px;
}
.m-r-20{
    margin-right: 20px;
}
.z-10{
    z-index: 10;
}
.p-20{
    padding:20px;
}
.p-l-r-10{
    padding:0px 10px;
}
.p-t-b-30{
    padding: 30px 0px;
}


/* before orgnization */
#myNav{
    border-radius: 0;
    margin: 0
}
.loading{
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
    display: flex;
}
.loading img{
    margin: auto;
}
.content-404 {
    font-family: 'Lato';
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 72px;
    margin-bottom: 40px;
}
.badge-danger {
    background-color: #d9534f !important;
}
.alert{
    position: absolute;
    left: 40%;
    z-index: 20;
    transition: all .5s;
    background-color: #ffffff;
    border: 0px;
    border-radius: 3px;
    border-left: 18px solid #60a5d4;
    box-shadow: .5px 2px 6px #f1f1f1;
    top:35px;
}
.alert-success{
    border-left: 18px solid #60a5d4;
    color: #60a5d4;
}
.alert-danger{
    border-left: 18px solid #e74c3c;
    color: #e74c3c;
}
.LoginPanel{
    margin-top: 200px;
    text-align: center;
}
#side-bar{
    position: fixed;
    left: 0;
    top: 52px;
    min-width: 250px;
    padding: 0px 30px;
    bottom: 0;
    background-color: #ffffff;
    z-index: 20;
    box-shadow: 0px 3px 10px #c1c1c1;
    border-top: 5px solid #2593ff;
}
.round-corner{
    border-radius: 5px;
}

#invitations{
    min-width: 400px;
    padding: 10px 20px; 
}
.inv-heading{
    font-size: 22px;
    margin: 0;
    border-bottom: 1px dotted #dedede;
}
#invitations > li {
    display: flex;
    margin:4px 0px;
    padding: 10px;
}
#invitations > li:last-child {
    border-bottom: none;
}
.danger{
    background-color: danger;
} 

#wrapper{
  display: flex;
  position: fixed;
  bottom: 0;
  left: 300px;
  z-index: 100;
}
chat-widget{
  margin-right: 10px;
}
.chat_window {
  margin-right: 10px;
  width: 260px;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
}

.top_menu {
  background-color: #2593ff;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 3px;
  border-radius: 6px 6px 0px 0px;
}
.top_menu .buttons {
  float: right;
}
.top_menu .buttons .button {
  
}
.top_menu .title {
  float: left;
  color: #fff;
  margin:5px; 
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7px;
  height: 210px;
  overflow-y: scroll;
  flex-direction: column-reverse;
}
.message{
  background-color: #2593ff;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  box-shadow: 1px 1px 1px #d4d4d4;
  word-break: break-all;
}
.grey{
  background-color: grey;
}
.bottom_wrapper {
  display: flex;
  border-top: 1px solid #e2e2e2;
  height: 50px;
  background-color: white;
  padding: 5px;
  border-top: 1px solid #e2e2e2
}
.message-box{
  border:none;
  flex-grow: 1;
  resize: none;
  overflow: hidden;
  font-size:12px;
}
.btn:focus{
  outline: none;
}
.state{
  display: inline-block;
  padding: 4px;
  border-radius: 100%;
  background-color: #c5c5c5;
  margin-left: 5px;
  border: none;
}
.state-active{
  background-color: #27b58e;
}

.tooltip-btn{
  display: inline-block;
}
.unseen{
  background-color: #fbfbfb;
  border-bottom: 1px solid #e0e0e0;
}

.media-message{
  color: #777;
}

.top-buffer {
  margin-top:20px; 
}
/* media queries */

@media screen and (max-width: 1700px) {
    #side-bar {
      top: 350px;
      left: 10px;
      min-width: 270px;
      box-shadow: 0px 3px 1px #cccccc;
    }
}