<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-default animated flipInX LoginPanel">
		  <div class="panel-heading"><h4>Login to your account</h4></div>
		  <div class="panel-body">
		  	<form ng-submit="login(credentials)" role="form">
		  		<div class="form-group has-feedback" bootstrap-validation-decorator>
			  		<div class="input-group" >
			  			<span class="input-group-addon"><i class="fa fa-user"></i></span>
			  			<input type="text"  name="email" ng-model="credentials.email" class="form-control" placeholder="Email" validation="required|min_len:3|max_len:25|email">
			  		</div>
			  		<div class="validation validation-email help-block"></div>
			  		<span class="glyphicon form-control-feedback"></span>
		  		</div>
			  	<div class="form-group has-feedback" bootstrap-validation-decorator>
			  		<div class="input-group">
			  			<span class="input-group-addon"><i class="fa fa-key"></i></span>
			  			<input type="password"  name="password" ng-model="credentials.password" class="form-control" placeholder="Password" validation="required|min_len:3|max_len:25">
			  		</div>
			  		<div class="validation validation-password help-block"></div>
			  		<span class="glyphicon form-control-feedback"></span>
			  	</div>
		  		<div class="row">
		  			<div class="col-md-4 col-md-offset-4">
		  				<button type="submit" class="btn btn-success">Sign in</button>
		  			</div>
		  		</div>
		  		<div class="row top-buffer">
		  			<div class="col-md-12">
  						<p>Or</p>
		  				<a class="btn btn-block btn-social btn-facebook" ng-click="authenticate('facebook')">
		  					<span class="fa fa-facebook"></span>
		  					Sign in with Facebook  (doesn't work yet)
		  				</a>
		  			</div>
		  		</div>
		  	</form>
		  </div>
		</div>
	</div>
</div>

