  <div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default animated flipInX LoginPanel">
      <div class="panel-heading"><h4>Create an account</h4></div>
      <div class="panel-body">
        <form ng-submit="submitRegistration(registrationData)" >
          <div class="form-group has-feedback"  bootstrap-validation-decorator>  
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user"></i></span>
              <input type="text" name="username" ng-model="registrationData.username" class="form-control" placeholder="Username" 
              validation="required|min_len:3|max_len:25|alpha">
            </div>
            <div class="validation validation-username help-block"></div>
            <span class="glyphicon form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback" bootstrap-validation-decorator>
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope"></i></span>
              <input name="email" ng-model="registrationData.email" class="form-control" placeholder="Email" validation="required|min_len:3|max_len:25|email">
            </div>
            <div class="validation validation-email help-block"></div>
            <span class="glyphicon form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback" bootstrap-validation-decorator>  
            <div class="input-group" >
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-key"></i></span>
              <input type="password" name="password" ng-model="registrationData.password" class="form-control" placeholder="Password" validation="required|min_len:3|max_len:25">
            </div>
            <div class="validation validation-password help-block"></div>
            <span class="glyphicon form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback" bootstrap-validation-decorator>
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-key"></i></span>
              <input type="password" name="password_confirmation" ng-model="registrationData.password_confirmation" class="form-control" placeholder="confirm password"  validation="required|min_len:3|max_len:25|match:registrationData.password,password">
            </div>
            <div class="validation validation-password_confirmation help-block"></div>
            <span class="glyphicon form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <button type="submit" class="btn btn-success">Register</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>