<div id	="room-view">
	<div class="section section-default">
		<h4>Find Friends : </h4>
		<input type="text" class="form-control" placeholder="Pick a Friend" aria-describedby="sizing-addon1" ng-model="Query" ng-keyUp="searchFriends(Query)">
	</div>
	<ul class="list-group section section-sub" ng-class="{'section-sub-hide' : !factory.searchResults.length}">
		<li class="list-group-item" ng-repeat="result in factory.searchResults">
			<div class="media">
				<div class="media-left">
					<a href="#">
						<i class="fa fa-user-o"></i>
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">{{result.username}}</h4>
					<h5>{{result.email}}</h5>
				</div>
				<div class="media-right">
					<a 
						class="btn btn-primary btn-xs" 
						ng-click="sendInvitation(result._id)"
						ng-if="$storage.user._id !== result._id && ! factory.isFriend(result._id)">
						Add member
					</a>
				</div>
			</div>
		</li>
	</ul>
	<div id="side-bar" class="nav animated">
		<div class="m-b-20 m-t-10">
			<!-- <div class="btn-group">
				<button class="btn btn-default btn-xs dropdown-toggle" 
						data-toggle="dropdown"
						ng-click="readMessages(factory.getNewMessages())">
					<i class="fa fa-envelope"></i> 
					<span class="badge" ng-class="{'badge-danger' : factory.getNewMessages().length}">
						{{factory.getNewMessages().length}}
					</span>
				</button>
				<ul id="invitations" class="dropdown-menu" ng-click="$event.stopPropagation()">
					<li class="inv-heading">Meesages</li>
					<li ng-if="!$storage.user.messages.length"><h5 class="text-muted"><i class="fa fa-exclamation-triangle"></i> It looks like you dont have <strong>new messages</strong> yet</h5></li>
					<li ng-repeat="message in $storage.user.messages" ng-class="{'bg-info' : !message.seen}">
						<div class="m-r-10">
							<a href="" class="tooltip-btn" data-toggle="tooltip" data-placement="top" title="{{message.sender.username}}"
								ng-click="openWindow(factory.findRelation(message.sender._id)._id)">

								<i class="fa fa-user-o fa-2x"></i>
							</a>
						</div>
						<div class="f-g-1">
							<h4 class="media-heading">{{message.body}}</h4>
							<h6>{{message.sender.username}}</h6>
						</div>
					</li>
				</ul>
			</div> -->
		</div>
		<div class="m-b-20">
			<h4><i class="fa fa-list f-2x"></i> All Friends</h4>
			<h5 ng-if="!$storage.user.relations.length" class="text-muted"><i class="fa fa-exclamation-triangle"></i> You dont have <strong>friends</strong> yet</h5>
		</div>
		<div class="clearfix" ng-repeat="relation in $storage.user.relations" >
				<button type="button" class="btn btn-default btn-xs pull-left" ng-click="openWindow(relation._id)">
					<i class="fa fa-user-o"></i>
					{{relation.friend.username}}
					<span class="badge badge-danger" ng-if="factory.getNewMessages(relation.messages).length">
						{{factory.getNewMessages(relation.messages).length}}
					</span>
					<span class="state" ng-class="{'state-active' : relation.friend.active}"></span>  
				</button>
				<div class="btn-group m-t-5 pull-right">
					<a href="#" ng-click="addCloseFriend(relation._id)"><i class="fa fa-star-o" ></i></a>
					<a href="#" ng-click="deleteFriend(relation._id , relation.username)"><i class="fa fa-trash-o"></i></a>
				</div>
		</div>
		<div class="m-b-20"><h4><i class="fa fa-star-o f-2x"></i> Close Friends</h4></div>
		<div  ng-repeat="relation in $storage.user.relations | filter: { close: true }">
			<div class="clearfix">
				<button type="button" class="btn btn-default btn-xs pull-left" ng-click="openWindow(relation._id)">
					<i class="fa fa-user-o"></i>
					{{relation.friend.username}}
					<span class="state" ng-class="{'state-active' : relation.friend.active}"></span>  
  
				</button>
				<div class="btn-group m-t-5 pull-right">
					<a href="" ng-click="deleteCloseFriend(relation._id)"><i class="fa fa-ban"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div id="wrapper">
		<chat-widget ng-repeat="relation in storageRelations"></chat-widget>
	</div>
</div>