<div class="chat_window">
	<div class="top_menu clearfix">
		<div class="buttons">
			<a href="" class="btn btn-link btn-xs" ng-click="closeWindow(relation._id)"><i class="fa fa-remove"></i></a>
		</div>
		<p class="title">
		<span class="state" ng-class="{'state-active' : relation.friend.active}"></span> 
		{{relation.friend.username}}
		</p>
	</div>
	<div class="messages">
		<div class="message" 
		ng-repeat="message in messages_as_sender.concat(messages_as_recipient) | orderBy: 'created_at':true"
		ng-class="{'grey' : message.sender_id === relation.friend_id}">
			{{message.body}}
		</div>
		
	</div>
	<div class="bottom_wrapper clearfix">
		<textarea  id="input" class="message-box" ng-model="message"></textarea>
		<button class="btn btn-link send-button"><i class="fa fa-send"></i></button>
	</div>
</div>